@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200..800&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
	font-family: "Poppins", sans-serif;
    /* cursor: none; */
}

/* Hide vertical scrollbar but allow scrolling */
.no-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari */
}


@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.marquee {
	white-space: nowrap;
	display: inline-flex;
	animation: marquee 20s linear infinite;
}

.marquee:hover {
	animation-play-state: paused;
	cursor: pointer;
}
